* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #36cc45;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --tertiary-color: #3a322d;
  --nursery-color: #555555;

  --font-size-primary: 0.9rem;
  --font-size-secondary: 0.95rem;

  --font-family: "Inter", sans-serif;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}
